<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/tipso/src/tipso.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function(){
	var chart = new CanvasJS.Chart("chartContainer", {
				backgroundColor: "#677d87",
				title: {
					text: "",
					fontColor: "#ccccbf"
				},
				toolTip:{
				   content:"{name}" ,
				   borderThickness: 0,
				   backgroundColor: "transparent",
				   fontColor: "#000000",
				   fontSize: 18,
				   fontStyle: "normal"
				 },
				axisX: {
					interval: 6,
					intervalType: "year",
					labelFontColor: "transparent",
					tickThickness: 0,
					gridThickness: 0,
					lineThickness: 1,
					lineColor: "#ccccbf",
					minimum: new Date(1977,11,31),
					 labelAngle: 90,
					stripLines: [
					{
						value:new Date(1981,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "1981",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					},
					{
						value:new Date(1987,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "1987",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					},
					{
						value:new Date(1997,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "1997",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					},
					{
						value:new Date(2001,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "2001",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					},
					{
						value:new Date(2007,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "2007",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					},
					{
						value:new Date(2012,00,01),
						thickness: 1,              
		                color:"#000000",
		                label : "2012",
		                labelFontColor: "#000000",
		                labelBackgroundColor: "transparent",
		                labelFontSize: 16,
		                tickThickness: 0
					}
					]
				},
				axisY: {
					interval: 5,
					minimum: 10,
					maximum: 40,
					labelFontColor: "#ccccbf",
					tickThickness: 0,
					lineThickness: 0,
					gridThickness: 1
				},
				data: [
				{
					type: "bubble",
					dataPoints: [
						{ x: new Date(1987,00,01), y: 28.7, z: 76, name: "New Zealand", color: "#ffc425"},
						{ x: new Date(1987,00,01), y: 28.7, z: 1, name: "", color: "#677d87" },
						{ x: new Date(1981,00,01), y: 37.12, z: 48, name: "Singapore", color: "#ffc425" },
						{ x: new Date(1981,00,01), y: 37.12, z: 1, name: "", color: "#677d87" },
						{ x: new Date(1997,00,01), y: 16.71, z: 4, name: "Philippines", color: "#ffc425" },
						//{ x: new Date(1997,00,01), y: 16.71, z: 1, name: "", color: "#677d87" },
						{ x: new Date(2007,00,01), y: 26.6, z: 5, name: "Sri Lanka", color: "#ffc425" },
						//{ x: new Date(2007,00,01), y: 26.6, z: 1, name: "", color: "#677d87" },
						{ x: new Date(2001,00,01), y: 33.11, z: 15, name: "Malaysia", color: "#ffc425" },
						{ x: new Date(2001,00,01), y: 33.11, z: 1, name: "", color: "#677d87" },
						{ x: new Date(2012,00,01), y: 30.3, z: 11, name: "China", color: "#ffc425" },
						{ x: new Date(2012,00,01), y: 30.3, z: 1, name: "", color: "#677d87" },
					]
				}
				]
			});

			chart.render();
});
</script>
<style type="text/css">
body {
	background: #677d87;
}
a.canvasjs-chart-credit {
	display: none;
}
.dot {
	background: #677d87;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	position: absolute;
}
div#sri {
    top: 38%;
    right: 18.9%;
}
div#phi {
    bottom: 32.4%;
    right: 44.5%;
}
div#chi {
    right: 6.1%;
    top: 35.8%;
}
div#mal {
    top: 28.5%;
    right: 34.3%;
}
.canvasjs-chart-tooltip {
	box-shadow: none!important;
}
.canvasjs-chart-tooltip div {
	margin-left: 50px;
	margin-top: 50px;
}
</style>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>
</div>
<br/>
<div style="height: 400px; max-width: 557px; width: 100%;position:relative;">
<div id="chartContainer" style="height: 400px; max-width: 557px; width: 100%;">
</div>
	<div id="sri" class="dot"></div>
	<div id="phi" class="dot"></div>
	<!--<div id="chi" class="dot"></div>
	<div id="mal" class="dot"></div> -->
</div>
</body>
</html>